* {
    font-family: 'Quicksand', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	margin: 20px;
    background-image: url('happySpace.jpg');
    width: 375px;
    height: 375px;
	background-repeat: no-repeat;
    z-index: 0;
    /* overflow-x: hidden; */
}
  
#drag {
    position:relative;
    padding: 10px;
    cursor: move;
    z-index: 10;
  }